<footer
  class="px-3 py-8 grid md:justify-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 flex-wrap bg-primary-content">
  <div class="flex flex-col items-start text-start">
    <a class="link font-bold my-3 p-0 link-hover text-xl text-primary" [routerLink]="[appRoutes.HOME]">
      {{"LOGO"}}
    </a>
    <div class="md:hidden mb-4 w-full">
      <div class="grid grid-cols-2 gap-1">
        <div>
          <a class=" shadow-md p-0 " href="mailto:">
            <img src="images/get-on-google-play.png" class="h-14" alt="Download from Google Play">
          </a>
        </div>
        <div class="">
          <div class="">
            <a class="shadow-md p-0" href="mailto:">
              <img src="images/get-on-app-store.png" class="h-14" alt="Download from App Store">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="max-md:hidden flex flex-col gap-4">
      <p class="max-w-48 text-xs ">
        {{"Lorem Ipsum is simply and dummy Lorem" | translate}}
      </p>
      <div class="flex md:mt-8 gap-3 text-primary">
        <a class="btn btn-link p-0 hover:text-secondary/50">
          <mat-icon svgIcon="fb" />
        </a>
        <a class="btn btn-link p-0 hover:text-secondary/50">
          <mat-icon svgIcon="insta" />
        </a>
        <a class="btn btn-link p-0 hover:text-secondary/50">
          <mat-icon svgIcon="whatsapp" />
        </a>
        <a class="btn btn-link p-0 hover:text-secondary/50">
          <mat-icon svgIcon="linkedin" />
        </a>


      </div>
    </div>

  </div>
  <div class="flex flex-col text-start items-start">
    <h3 class="text-xl font-bold text-primary">{{"Shop Now" | translate}}</h3>
    @for (item of [
    { name: `Men's Perfume`, route: appRoutes.MEN_PERFUME },
    { name: `Women's Perfume`, route: appRoutes.WOMEN_PERFUME },
    { name: `Skin Care`, route: appRoutes.SKIN_CARE },
    { name: `Hair Care`, route: appRoutes.HAIR_CARE },
    ]; track item.name) {
    <a class="btn btn-link link-hover text-start text-xs text-primary/80 p-0" [routerLink]="[item.route]">
      {{item.name | translate}}
    </a>
    }


  </div>
  <div class="flex flex-col text-start items-start">
    <h3 class="text-xl font-bold text-primary">{{"Info & Policies" | translate}}</h3>
    @for (item of [
    { name: `About Us`, route: appRoutes.About},
    { name: `Contact Us`, route: appRoutes.Contact },
    { name: `Return Policy`, route: appRoutes.ReturnPolicy },
    { name: `Privacy Policy`, route: appRoutes.PrivacyPolicy },
    ]; track item.name) {
    <a class="btn btn-link link-hover text-start text-xs text-primary/80 p-0" [routerLink]="[item.route]">
      {{item.name | translate}}
    </a>
    }


  </div>
  <div class="flex flex-col text-start items-start">
    <h3 class="text-xl font-bold text-primary">{{"Stay Connected" | translate}}</h3>
    <a class="btn btn-link flex link-hover text-start text-xs text-primary/80 p-0" href="mailto:">
      <mat-icon class="scale-75" svgIcon="phone" />
      <span>{{"+971 50 123 4xxx"}}</span>
    </a>
    <a class="btn btn-link flex link-hover text-start text-xs text-primary/80 p-0" href="mailto:">
      <mat-icon class="scale-75" svgIcon="email" />
      <span>{{"GloriaNatural@gmail.com"}}</span>
    </a>
    <a class="btn btn-link flex link-hover text-start text-xs text-primary/80 p-0" href="mailto:">
      <mat-icon class="scale-75" svgIcon="location" />
      <span class="max-w-40">{{"Store 18, Marrakech Street, Al Mankhool, Dubai, UAE"}}</span>
    </a>


  </div>
  <div class="flex flex-col text-start items-start max-md:hidden">
    <h3 class="text-xl font-bold text-primary mb-3">{{"Install now" | translate}}</h3>
    <div class="flex-col ">
      <a class=" shadow-md p-0 " href="mailto:">
        <img src="images/get-on-google-play.png" class="h-auto max-w-40" alt="Download from Google Play">
      </a>
      <div class="py-2"></div>
      <a class="shadow-md p-0" href="mailto:">
        <img src="images/get-on-app-store.png" class="h-auto max-w-40" alt="Download from App Store">
      </a>
    </div>


  </div>
  <div class="md:hidden">
    <div class="flex mt-5 justify-center  text-primary md:mt-8">
      <a class="btn btn-link hover:text-secondary/50">
        <mat-icon class="scale-150" svgIcon="fb" />
      </a>
      <a class="btn btn-link hover:text-secondary/50">
        <mat-icon class="scale-150" svgIcon="insta" />
      </a>
      <a class="btn btn-link hover:text-secondary/50">
        <mat-icon class="scale-150" svgIcon="whatsapp" />
      </a>
      <a class="btn btn-link hover:text-secondary/50">
        <mat-icon class="scale-150" svgIcon="linkedin" />
      </a>


    </div>
  </div>
</footer>
<div class="p-3 text-center text-primary/90 text-sm border-t bg-primary-content">
  <bdi>© 2025</bdi> {{"Gloria Natural Cosmetics. All rights reserved." | translate}}
</div>