@if (isAddedToCart()) {
<div class="join w-full" [class.h-full]="fitHeight()">
  <button (click)="decreaseQuantity()" [disabled]="isLoading()" [class.h-full]="fitHeight()"
    class="btn  btn-sm btn-ghost bg-primary-content join-item">
    <mat-icon fontIcon="remove" class="scale-75" />

  </button>
  <span [class.h-full]="fitHeight()"
    class="text-center bg-neutral-content/80 w-8 join-item w-full flex items-center justify-center">
    @if (isLoading()) {
    <span class="loading loading-spinner text-primary loading-sm"></span>
    } @else {
    {{ quantity() }}
    }
  </span>
  <button [class.h-full]="fitHeight()" (click)="increaseQuantity()" [disabled]="isLoading()"
    class="btn btn-sm btn-ghost bg-primary-content join-item">
    <mat-icon fontIcon="add" class="scale-75" />
  </button>
</div>
} @else {
@if (customAddToCartButton(); as customButton) {
<ng-template [ngTemplateOutlet]="customButton.tempRef" [ngTemplateOutletContext]="{ isLoading: isLoading() }" />
} @else {
<button [disabled]="isLoading()" (click)="addToCart()"
  [class]="className() ?? 'btn btn-primary font-normal btn-sm btn-block text-white flex items-center gap-1 shadow-none hover:text-secondary '+ additionalClasses()">
  @if (isLoading()) {
  <span class="loading loading-spinner text-primary loading-sm"></span>
  } @else {
  @if (customText()) {
  {{customText() }}
  } @else {
  <mat-icon class="scale-65" svgIcon="cart" />
  <span>
    {{"Add to Cart" | translate}}
  </span>
  }

  }
</button>
}
}